{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

      <article class="blog-post">
        <header>
          <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

        </header>



        {{.Content }}



      

      </article>

      {{ if .Site.DisqusShortname }}
           {{ partial "disqus.html" . }}
      {{ end }}

    {{ end }}
